@import 'variables';
.primary{
    padding: 1vh 2vw;
    background-color: $purple-font-color;
    color: white;
    border: 2px solid $purple-font-color;
    border-radius: 30px;
}
.primary:hover{
    background-color: transparent;
    color: $purple-font-color;
    color: $purple-font-color;
    transition: 0.3s;
}
.secondary{
    padding: 1vh 1.2vw;
    border: 2px solid $purple-font-color;
    color: $purple-font-color;
    background-color: transparent;
    border-radius: 30px;
}
.secondary:hover{
    background-color: $purple-font-color;
    color: $white-font;
    transition: 0.3s;
}