@import 'variables';
@import 'buttons';

*{
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    color: $main-font-color;
    font-size: 18px;
}
body{
    max-width: 2000px;
    margin: 0 auto;
    padding: 0;
    //min-width: 490px;
   // overflow-x: hidden;
}
.headerText{
    word-wrap: break-word;
}
img{
    width: 95%;
    height: auto;
}
// NAV STYLES
nav{
    margin-top: -3vh;
     a{
        color: $main-font-color;
        font-weight: 300;
        margin: 0.5vw;
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: $purple-font-color;
    }
    .navbar-nav > .nav-item > .active > a{
        color: $purple-font-color;
    }
}
.h1{
    color: $purple-font-color;
    font-weight: 600;
    font-size: $big-font-size;
}
p{
    padding:  5px 0px;
}
// HEADER STYLES
.header{
    margin-top: -10vh;
    padding: 3vw;
    font-weight: 200;
    margin-top: 15vh;
    
    .header-text{
        text-align: left;
    }
    img{
        margin-top: -22vh;
    }
    .girl > img{
        margin-top: -13vh;
    }
    .bulb1{
        width: 20%;
        z-index: -1;
        position: relative;
        right: -14vw;
        top: -7vh;
    }
    .bulb2{
        width: 70%;
        z-index: -1;
        margin-top: -22vh;
        right: -3vw;
        position: absolute;
    }
}
// REALIZATIONS STYLES
.realizations{
    margin-top: 10vh;
    div:first-child{
        margin-top: 160px;
    }
    p:first-child{
        color: $purple-font-color;
    }
    p{
        margin-left: -30px;
    }
    .bulb3{
        width: 70%;
        z-index: -1;
        left: -20vw;
        margin-top: -30vh;
        position: absolute;
    }
    img{
        width: 90%;
        right: -5.6vw;
        position: relative;
    }
   
}

// WORK STYLES
.work{
    z-index: 1;
    position: relative;
    background-color: $purple-font-color;
    p{
        color: white;
        font-weight: 200;
    }
    .h1, .h5, .h3{
        font-weight: 600;
    }
    .steps{
        margin-top: 10vh;
    }
    .mainimg{
        width: 80%;
        margin-top: -10vh;
    }
    .scopeimg{
        width:50%;
        margin-top: 10vh;

    }
    .graphic > img{
        margin-top: 9vh;
    }
    .number{
        width: 58px;
    }
    .GraphicNumber{
        width: 30px;
        margin-top: 0.4vh;
    }

    .bulb4{
        z-index: -1;
        width: 100%;
        left: -7vw;
        margin-top: 6vh;
        position: absolute;
    }
    .bulb5{
        z-index: -1;
        width: 100%;
        left: -0.1vw;
        position: absolute;
        margin-top: 20vh;
    }
}

// CONTACT STYLES

.contact{
    .h5{
        color: $purple-font-color;
        font-weight: 600;
    }
    input, textarea{
        margin: 1vh;
        padding: 1vh;
        width: 90%;
        background-color: $white-font;
        border: 1px solid $purple-font-color;
        border-radius: 30px;
    }
    button{
        width: 30%;
        margin-right: 4.5vw;
        margin-left: auto;
        display: block;
    }
    img{
        margin-top: -5vh;
    }
}

// DOMAIN STYLES 
.domain{
    img{
        width: 80%;
    }
    .star{
        width: 3%;
        vertical-align: -8.5px;
    }
    .plainText{
        vertical-align:middle;
        color: $purple-font-color;
        font-weight: 500;
    }
    p:first-child{
        color: $purple-font-color;
        font-weight: 500;
    }
    .priceTable{
        margin-top: 10vh;
        text-align: center;
    }
    .table{
        margin-top: 20vh;
        border: 1px solid $purple-font-color;
        border-radius: 30px;
        text-align: center;
        margin: 0 auto;
        .h2{
            color: #ff3294;
            font-weight: 600;
        }
        .h3{
            color: #ff3294;
            font-size: 28px;
        }
        .h4{
            font-weight: 300;
            color: $purple-font-color;
        }
        .text-pink{
            color: #ff3294;
        }
        .details{
            margin-top: 6.5vh;
        }
        
     
    }
}

// ABOUT SITE STYLES

.about{
    margin-top: 15vh;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10vh;
    .slider{
        display: flex;
        justify-content: center;
        .h3{
            color: $purple-font-color;
        }
        .person{
            border: 1px solid $purple-font-color;
            border-radius: 30px;
        }
    }
    .socialMedia{
        width: auto;
    }
    .social{
        display: flex;
        justify-content: center;
    }
    .bulb3{
        width: 30%;
        z-index: -1;
        left: -20vw;
        margin-top: 5vh;
        position: absolute;
    }
}
