@import 'variables';
@import 'buttons';

*{
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    color: $main-font-color;
    font-size: 18px;
}
body{
    max-width: 2000px;
    margin: 0 auto;
    padding: 0;
}
img{
    width: 95%;
    height: auto;
}
// NAV STYLES
nav{
    margin-top: -3vh;
     a{
        color: $main-font-color;
        font-weight: 300;
        margin: 0.5vw;
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: $purple-font-color;
    }
    .navbar-nav > .nav-item > .active > a{
        color: $purple-font-color;
    }
}
.h1{
    color: $purple-font-color;
    font-weight: 600;
    font-size: $big-font-size;
}
p{
    padding:  5px 0px;
}
// HEADER STYLES
.header{
    
    margin-top: -10vh;
    padding: 3vw;
    font-weight: 200;
    margin-top: 15vh;
    
    .header-text{
        text-align: left;
    }
    img{
        margin-top: -22vh;
    }
}
// REALIZATIONS STYLES
.realizations{
    margin-top: 10vh;
    div:first-child{
        margin-top: 160px;
    }
    p:first-child{
        color: $purple-font-color;
    }
    p{
        margin-left: -30px;
    }
   
}

//WORK
.work{
    margin-top: 10vh;
    padding-top: 5vh;
    background-color: $purple-font-color;
    p{
        color: white;
        font-weight: 200;
    }
    .h1, .h5{
        font-weight: 600;
    }
}